services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql_server
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=SQLPass001!
    ports:
      - 1433:1433
    # volumes:
    #   - /sql_data:/var/opt/mssql
